# PostgreSQL - RRHH
RRHH_DB_HOST=localhost
RRHH_DB_PORT=5432
RRHH_DB_NAME=industrias_abc_rrhh
RRHH_DB_USER=postgres
RRHH_DB_PASSWORD=

# PostgreSQL - Compras
COMPRAS_DB_HOST=localhost
COMPRAS_DB_PORT=5432
COMPRAS_DB_NAME=industrias_abc_compras
COMPRAS_DB_USER=postgres
COMPRAS_DB_PASSWORD=

# Configuración general ETL
ETL_ENV=development
ETL_LOG_LEVEL=INFO